.heading-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.heading-section__title {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

.heading-section__title h1 {
  color: #3b241a;
  font: bold 2.25rem "Noto Serif";
}

.heading-section__title p {
  font: 600 1rem "Manrope";
  margin-top: 0.125rem;
}

.heading-section__button {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
  transition: 300ms ease;
}

.heading-section__button:hover {
  transform: scale(110%);
}

@media (max-width: 1024px) {
  .heading-section__button {
    width: 3rem;
  }
  
  .heading-section__title h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .heading-section__title h1 {
    font-size: 1.75rem;
  }

  .heading-section__title p {
    font-size: var(--text-sm);
  }
}