.header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0.5rem 1.5rem;
  overflow: hidden;
  background-color: var(--color-primary);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.header__content {
  width: 100%;
  display: grid;
  grid-template-columns: 0.15fr 0.85fr 0.15fr;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.125rem;
}

.header__content_img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.header__content_img img {
  width: 80px;
  min-width: 50px;
  max-width: 80px;
  object-fit: contain;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.header__content_img img:hover {
  transform: scale(105%);
  opacity: 0.95;
}

.header__content_img img:focus {
  outline: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  font: 600 1rem "Inter";
  color: #000;
}

.navbar__list__item {
  font: inherit;
  transition: 300ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navbar__list__item a {
  color: inherit;
  text-decoration: none;
}

.navbar__list__item:hover {
  transform: scale(105%);
  opacity: 0.95;
}

.navbar__list__item--active {
  border: 1.5px solid #000;
  border-radius: 50px;
}

.navbar__list__item--no-active {
  display: none;
}

.icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding-inline: 0.5rem;
}

.icon-section__btn {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  transition: 300ms ease-in-out;
  color: #000;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.icon_section__btn--quantity {
  position: absolute;
  background-color: #c10007;
  right: -0.625rem;
  top: -0.625rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding-inline: 0.25rem;
  border: 1px solid #82181a;
  border-radius: calc(infinity * 1px);
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0.025em;
}

.icon-section__btn:hover {
  transform: translateY(-0.125rem);
}

.header__icon {
  font-size: 1.5rem;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .navbar__list {
    gap: 2rem;
    font-size: 0.875rem;
    color: #000;
  }

  .icon-section {
    justify-content: flex-end;
  }

  .icon_section__btn--quantity {
   
    right: -0.425rem;
    top: -0.625rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    padding-inline: 0.25rem;
    border: 1px solid #82181a;
    border-radius: calc(infinity * 1px);
    color: var(--color-secondary);
    font-size: var(--text-sm);
  }

  .header__icon {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .header__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__content_img img {
    max-width: 65px;
    object-fit: contain;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .navbar__list {
    justify-content: flex-end;
  }
}
